*{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

// 字体库声明
@font-face {
    font-family: cute;
    src: url('../assets/STHeiti-Light-2.ttc');
}
